$button-orange: #fe805d;
$text-white: #fff;
$input-background: #eee;
$very-ligh-gray: #f3f4f6;
$box-gray: #575555;
$text-gray: #383737;
$light-gray: #92929d;
$icon-gray: #808080;
$background-login: #452b4e;
$light-pink: #e4abab;
$light-gray: #f3efec;
$light-blue: #534e7b;
$dark-pink: #e36179;
$light-green: #beebe2;
$gradient-background: linear-gradient(
  90deg,
  rgba(189, 222, 210, 1) 0%,
  rgba(164, 202, 235, 1) 49%,
  rgba(148, 216, 230, 1) 100%
);

$pink-hair: "https://i.pinimg.com/originals/65/8c/74/658c743ce7c793d00ab2174e1e86f9f4.jpg";
$pink-mobile: "https://png.pngtree.com/thumb_back/fh260/background/20190831/pngtree-pastel-colorful-background-clouds-image_312444.jpg";
$icon-hamburger: "https://cdn-icons-png.flaticon.com/512/130/130918.png";
$icon-close: "https://www.pngfind.com/pngs/m/253-2532502_png-file-svg-mobile-menu-close-icon-transparent.png";
