$button-orange: #fe805d;
$text-white: #fff;
$input-background: #eee;
$box-gray: #575555;
$text-gray: #383737;
$icon-gray: #808080;
$background-login: #452b4e;
$light-pink: #e4abab;
$light-gray: #f3efec;
$light-blue: #534e7b;
$dark-pink: #e36179;
$light-green: #beebe2;
$gradient-background: linear-gradient(
  90deg,
  rgba(189, 222, 210, 1) 0%,
  rgba(164, 202, 235, 1) 49%,
  rgba(148, 216, 230, 1) 100%
);
