@import "./variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-gray;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
button,
input,
small {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  padding: 0 24px;
  max-width: 1112px;
  margin: auto;
}

.is-hidden {
  display: none;
}

@mixin title($font-size, $font-weight: 400) {
  color: $background-login;
  font-size: $font-size;
  font-weight: $font-weight;
}

.title {
  &__primary {
    @include title(2em);
  }
  &__secondary {
    @include title(1.2em);
  }
  &__tertiary {
    @include title(0.85em);
  }
}

.description {
  font-size: 0.8em;
  line-height: 1.6;
  margin-bottom: 3em;
  margin-top: 1.5em;
  font-weight: 400;
}
