@import "./variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-gray;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
input {
  font-family: "Source Sans Pro", sans-serif;
}
