@import "../../styles/_variables";
@import "../../styles/mixins";

.history-container {
  margin: 20px 20px 0;

  .history-message {
    height: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
